/* @tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
} */

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.unitform-unitname {
  text-align: center;
  font-size: 40px;
  margin: 15px;
  font-weight: bold;
}

.questform_answer_block {
  margin-left: 30px;
}

.questform_answer_block div {
  margin-bottom: 5px;
}

.questform_quest_block {
  margin-left: 30px;
}

.questform_question_answer_block {
  margin-left: 30px;
}

.coursepage_course_card div div h2 {
  font-size: 50px;
  margin: unset;
}

.coursepage_course_card div div span {
  font-size: 16px;
  margin: unset;
}

.coursepage_course_card > div {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.coursepage_course_card > div > div {
  grid-area: 1 / 1;
}

.coursepage_course_card > div > span {
  grid-area: 1 / 2;
  display: grid;
  align-content: start;
  justify-content: end;
}

.courses_view_unit_container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px; /* space between cards */
}

.card {
  border: 1px solid #ddd;
  padding: 16px;
  width: 300px;
  height: 200px;
  overflow: hidden;
  position: relative;
  transition: height 0.3s ease-in-out; /* animation for expanding */
  display: flex;
  flex-direction: column;
}

.expanded {
  height: auto; /* height adjusts to content when expanded */
}

.card-header {
  display: flex;
  justify-content: space-between;
  flex-direction: horizontal;
  font-size: 1rem;
  margin-bottom: 8px;
}

.card-body {
  font-size: 0.9rem;
  opacity: 0.8;
}

.read-more {
  text-align: right;
  cursor: pointer;
  color: #007bff;
}

.read-more:hover {
  text-decoration: underline;
}

.unitpage_main_content {
  text-align: center;
  margin: 50px;
}

.unitpage_main_content h1 {
  text-align: center;
}

.unitpage_main_description {
  text-align: center;
}

.unitpage_main_body {
  text-align: justify;
}

.answer_block_correct_answer.correct {
  border: solid 2px rgb(97, 116, 97);
  background: rgb(150, 181, 150);
  padding: 5px;
  border-radius: 5px;
}

.answer_block_correct_answer.incorrect {
  border: solid 2px rgb(108, 55, 55);
  background: rgb(244, 150, 150);
  padding: 5px;
  border-radius: 5px;
}

.answer_block_checkbox_basic_check.missed .ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgb(225, 136, 58);
  border-color: rgb(181, 88, 33);
}

.answer_block_checkbox_basic_check.correct .ant-checkbox-checked .ant-checkbox-inner {
    background-color: rgb(75, 172, 72);
    border-color: #008100;
}

.answer_block_checkbox_basic_check.incorrect .ant-checkbox-checked .ant-checkbox-inner {
  background-color: rgb(232, 27, 27);
  border-color: rgb(106, 6, 6);
}

.answer_block_checkbox_basic_check .ant-checkbox-checked .ant-checkbox-inner:after {
  border-color: rgb(255, 255, 255) !important;
}

.answer_block_incorrect_icon {
  color: rgb(227, 16, 16);
  font-size: 26px;
}

.answer_block_correct_icon {
  color: rgb(36, 161, 50);
  font-size: 26px;
}

@keyframes slideInFromRight {
  0% {
      transform: translateX(100%);
  }
  100% {
      transform: translateX(0);
  }
}

.modal-slide-in {
  animation: 0.3s ease-out 0s 1 slideInFromRight;
}

.wages_page_deductible_row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px;
}

hr.rounded {
  border-top: 2px solid black;
  border-radius: 5px;
}

hr.rounded_grey {
  border-top: 2px solid rgb(176, 176, 176);
  border-radius: 5px;
}

.role_dropdown_main span:nth-child(2) {
  transition: transform 0.5s cubic-bezier(.68,-0.55,.27,1.55) !important;
}

.dropdown-hover:hover .down-icon {
  transform: rotate(-180deg);
}

.dropdown-hover:hover .down-icon,
.role_dropdown_main:hover .down-icon {
  transform: rotate(-180deg);
}

.role_dropdown_main.ant-dropdown-open .down-icon {
  transform: rotate(-180deg);
}

.login-container {
  position: relative;
  height: 100vh;
  background-image: url('https://i.imgur.com/f08hRLF.png');
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-container::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(219, 219, 219, 0.5); /* Adjust the RGBA values as needed */
  z-index: 0;
}

.login-form {
  position: relative;
  z-index: 1;
  background: white;
  padding: 30px;
  border-radius: 2px;
}

.logout_button:hover {
  color: red;
  border-bottom: solid 2px red;
}